<h1>To Do List</h1>
<ul>
<% @todos.each do |todo| %>
	<li>
	<tr>
		<td><%= todo.item %></td>
		<td><%= link_to "Edit", edit_todo_path(todo) %> </td>
		<td><%= link_to "Delete", todo_path(todo), method: :delete, data: { confirm: 'Are you sure?' }  %> </td>
	</tr>
	</li>
<% end %>

</ul>

<%= link_to "New", new_todo_path %>

